
fondos/target/m2e-wtp/web-resources/META-INF/maven/sv.com.epsilon/presupuesto/pom.properties
fondos/src/main/java/sv/com/epsilon/presupuesto/test/Test.java
fondos/target/classes/sv/com/epsilon/presupuesto/test/Test.class
*.pdf
*.class
*.class
